.group17{
    width: 737px;
    height: 826px;
    flex-shrink: 0;
    margin: auto 352px;
    margin-top: 50px;
   
}

.group15{
    width: 737px;
    height: 114px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text1{
color: var(--2D2D2D, #2D2D2D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text2{
color: var(--A445ED, #A445ED);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.group4-Icon{
width: 75px;
height: 75px;
flex-shrink: 0;
}

.group14{
width: 736px;
height: 376px;
flex-shrink: 0;
}

.group2{
display: inline-flex;
height: 29px;
width: 736px;
justify-content: center;
align-items: center;
gap: 20px;
flex-shrink: 0;
margin-top: 40px;
}

.text3{
color: var(--2D2D2D, #2D2D2D);
font-family: Inter;
font-size: 24px;
font-style: italic;
font-weight: 700;
line-height: normal;
margin-left: 20px;
}

.rectangle-Icon{
width: 656px;
height: 1px;
background: var(--E9E9E9, #E9E9E9);
}

.group11{
width: 736px;
height: 243px;
flex-shrink: 0;
margin-top: 20px;
}

.text4{
color: var(--757575, #757575);
font-feature-settings: 'clig' off, 'liga' off;

/* Heading S - Sans */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.group6{
width: 714px;
height: 194px;
flex-shrink: 0;
margin-top: 30px;

}

.group3{
width: fit-content;
height: 24px;
flex-shrink: 0;
margin-bottom: 5px;
display: flex;
justify-content: space-between;
align-items: center;
align-content: center;


}

.oval-Icon{
width: 5px;
height: 5px;
fill: var(--8F19E8, #8F19E8);
margin: auto 10px;
}

.text5{
color: var(--2D2D2D, #2D2D2D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.group5{
width: 714px;
height: 72px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}

.text6{
color: var(--2D2D2D, #2D2D2D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.group19{
width: 714px;
height: 72px;
flex-shrink: 0;
margin-top: 10px;
display: flex;
justify-content: space-between;
align-items: center;

}

.text7{
color: var(--2D2D2D, #2D2D2D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}

.group9{
display: inline-flex;
height: 24px;
padding-right: 0px;
justify-content: center;
align-items: flex-start;
gap: 22px;
flex-shrink: 0;
margin-top: 10px;
}

.text8{
    color: var(--757575, #757575);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text9{
color: var(--A445ED, #A445ED);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.group12{
width: 736px;
height: 179px;
flex-shrink: 0;
margin-top: 20px;
}

.group22{
display: inline-flex;
height: 29px;
justify-content: center;
align-items: center;
gap: 26px;
flex-shrink: 0;
}

.text10{
color: var(--2D2D2D, #2D2D2D);
font-family: Inter;
font-size: 24px;
font-style: italic;
font-weight: 700;
line-height: normal;
}

.group111{
width: 736px;
height: 110px;
flex-shrink: 0;
margin-top: 20px;
}

.text11{
color: var(--757575, #757575);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.group66{
width: 714px;
height: 61px;
flex-shrink: 0;
}

.group33{
display: flex;
width: 350px;
height: 24px;
padding-right: 0px;
justify-content: center;
align-items: center;
gap: 20px;
flex-shrink: 0;
}

.text12{
color: var(--2D2D2D, #2D2D2D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.group55{
display: flex;
width: 714px;
height: 24px;
padding-left: 0px;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
margin-top: 10px;
margin-left: 30px;
}

.text13{
width: 689px;
flex-shrink: 0;
color: var(--757575, #757575);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.group7{
width: 736px;
height: 37px;
flex-shrink: 0;
}

.text14{
color: var(--757575, #757575);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}

.text15{
color: var(--2D2D2D, #2D2D2D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
margin-left: 20px;
}

.Tabler-Icon{
width: 12px;
height: 12px;
flex-shrink: 0;
margin-left: 10px;
}

.group25{
    display: flex;
}


/* Media query for tablets (e.g., iPad) */
@media (min-width: 768px) and (max-width: 1023px) {
    .group17 {
        width: 689px;
        height: 826px;
        flex-shrink: 0;
    }

    .group15{
        width: 689px;
        height: 114px;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
  }
  
  /* Media query for mobile screens */
  @media (max-width: 767px) {
    .group17 {
      /* Adjust the styles for the group17 component on mobile screens */
      width: 100%; /* Adjust the width for mobile screens */
      margin: auto; /* Center the container horizontally and adjust the top margin */
      flex-shrink: 0;
      
    }

    

    .group15{
        width: 100%;
        margin: auto;
       flex-shrink: 0;
    }


    .group14{
        width: 100%;
        height: 376px;
        flex-shrink: 0;
        }


    .group11{
        width: 100%;
        height: 243px;
        flex-shrink: 0;
        margin-top: 20px;
        }

    .group6{
        width: 100%;
        height: 194px;
        flex-shrink: 0;
        margin-top: 30px;
        
        }

        .group5,
        .group3,
        .group19{
            width: 100%;
            margin: auto;
            flex-shrink: 0;
          
            }
            

   
  
    .text1 {
      font-size: 48px; /* Adjust the font size for mobile screens */
    }
  
    .text3 {
      font-size: 20px; /* Adjust the font size for mobile screens */
    }
  
    .text4 {
      font-size: 16px; /* Adjust the font size for mobile screens */
    }
  
    .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15 {
      font-size: 14px; /* Adjust the font size for mobile screens */
      
    }
  }
  