.rectangle-Icon{
width: 90%;
height: 1px;
background: var(--E9E9E9, #E9E9E9);
}

.oval-Icon{
width: 5px;
height: 5px;
fill: var(--8F19E8, #8F19E8);
margin: auto 10px;
}

.group7{
width: 90%;
height: 37px;
flex-shrink: 0;
margin: 20px;
}

.text14{
color: var(--757575, #757575);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}

.text15{
color: var(--2D2D2D, #2D2D2D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
margin-left: 20px;
}

.text15a{
color: var(--FFFFFF, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
margin-left: 20px;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}

.Tabler-Icon{
width: 12px;
height: 12px;
flex-shrink: 0;
margin-left: 10px;
}

.group25{
    display: flex;
}

.responsive-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px; 
  font-family: 'Your-Font-Here', sans-serif; 
  width: 90%;
}

.horizontal-line {
  width: 100%;
  margin-left: 1rem;
  border: none;
  border-top: 1px solid #000; 
}

.section-heading {
  color: grey;
  margin-top: 1.25rem;

}

.list {
  list-style: disc;
  margin-top: 1rem;
}

.synonyms-section {
  font-family: 'Inconsolata', monospace; 
  margin-top: 1.25rem;

}

.synonyms-heading {
  color: grey;

}

.synonym {
  color: #800080; 
  margin-left: 0.25rem;
}

.synonyms-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 5px; 
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
  


/* Media query for tablets (e.g., iPad) */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .responsive-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px; 
    font-family: 'Your-Font-Here', sans-serif; 
    width: 100%;
  }
  }


  
@media screen and (min-width: 568px) and (max-width: 767px) {

  .responsive-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px; 
    font-family: 'Your-Font-Here', sans-serif; 
    width: 100%;
  }
} 

/* Mobile Devices */
@media screen and (min-width: 300px) and (max-width: 567px) {

  .responsive-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px; 
    font-family: 'Your-Font-Here', sans-serif; 
    width: 100%;
  }
} 


@media screen and (max-width: 299px) {

  .responsive-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px; 
    font-family: 'Your-Font-Here', sans-serif; 
    width: 100%;
  }
} 