.book-icon{
  width: 32px;
  height: 36.5px;
  flex-shrink: 0;
  }

.book-dark-icon{
  width: 32px;
  height: 36.5px;
  flex-shrink: 0;
  color: white;
  }
  
  .path-icon {
    width: 15px;
    height: 10px;
    stroke-width: 1.5px;
    stroke: var(--A445ED, #A445ED);
    }

  .text{
    color: var(--2D2D2D, #2D2D2D);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 3px;
  }

  .text16{
color: var(--FFFFFF, #FFF);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
margin-top: 15px;

  }

  .group10 {
    width: 737px;
    height: 36px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .group-icon{
    width: 80px;
    height: 20px;
    flex-shrink: 0;
    cursor: pointer;
  }

  .group-icon-dark{
    width: 80px;
    height: 20px;
    flex-shrink: 0;
    cursor: pointer;
  }
  
.group{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
}

.group13{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55%;
}



/* Light Theme Styles */
.font-selector {
  position: relative;
}

.font-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background: #f7f4f4;
  transition: all 0.3s ease;
  width: 150px;
}

.font-label:hover {
  background: #f2f2f2;
  width: 150px;
}

.arrow-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.rotate-90 {
  transform: rotate(90deg);
}

/* Font List Styles */
.font-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: none;
}

.font-option {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.font-option:hover {
  background: #f2f2f2;
}

/* Show the font list when it's active */
.font-selector:hover .font-list {
  display: block;
}

/* Dark Theme Styles */
.dark .font-label {
  background: #050505; 
  color: #fff; 
  border: 1px solid #050505; 
  width: 150px;
  position: relative;
  top: -5px;
}

.dark .font-label:hover {
  background: #555; 
  width: 150px;
}

.dark .arrow-icon {
  filter: brightness(0) invert(1); 
}

.dark .font-list {
  background: #333; 
  border: 1px solid #444; 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4); /* Dark theme shadow */
}

.dark .font-option {
  color: #fff;
}

.dark .font-option:hover {
  background: #555; 
}





/* Media query for tablets (e.g., iPad) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
 
  .group10 {
    width: 537px;
  }

  .group13 {
  margin-left: 50%;
  }
}

/* Media query for mobile screens */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .group10 {
    width: 437px;
  }

  .group13 {
  margin-left: 45%;
  }


}


@media screen and (max-width: 567px) {
  .group10 {
    width: 400px;
  
  }

  .group13 {
  margin-left: 40%;
  }

  .book-icon{
    width: 22px;
    height: 26px;
    }
  
  .book-dark-icon{
    width: 22px;
    height: 26px;
    }
    
    .path-icon {
      width: 15px;
      height: 10px;
      }
  
    .text{
      font-size: 12px;
      line-height: 14px;
    }
  
    .text16{
  font-size: 12px;
  line-height: 14px;
    }

    .group-icon{
      width: 60px;
      height: 15px;
    }

    .group-icon-dark{
      width: 60px;
      height: 15px;
    }

    .font-label {
      padding: 6px;
      width: 100px;
    }

    .font-label:hover {
      background: #f2f2f2;
      width: 100px;
    }

    .dark .font-label {
      padding: 6px;
      width: 100px;
    }

    .dark .font-label:hover {
      background: #555; 
      width: 100px;
    }
}
