
.book-icon,
.path-icon {
  width: 32px;
  height: 36.5px;
  flex-shrink: 0;
  }
  
  .text{
        color: var(--2D2D2D, #2D2D2D);
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
        font-size: 18px;
        margin: 10px;
        
        
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 50px 352px;
  }
  
  .book-icon,
  .path-icon,
  .group-icon {

    margin: 10px; 
  }

  .group-icon{
    margin-left: 40px;
  }
  
  
.font{
    display: flex;
   
    
}

.group{
    display: flex;
    
}

.main{
    margin: auto 352px;
    width: 736px;
}
  
.ptag{
  width: 120px;
}