/* Navigation.css */
.book-icon {
  width: 32px;
  height: 36.5px;
  flex-shrink: 0;
  }
  
  .text{
        color: var(--2D2D2D, #2D2D2D);
        font-family: Inter;
        /* font-size: 18px; */
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 133.333% */
        font-size: 14px;
        margin: 10px;
  }

  .container {
    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* text-align: center; */
    /* background-color: #ccbfbf; */
    display: flex;
    /* flex-direction: row;  */
    /* align-items: center;  */
    justify-content: space-between;
    width: auto;
    margin: 50px 352px;
  
  

  }
  
  .book-icon,
  .path-icon,
  .group-icon {
    /* Add individual styling for your icons if needed */
    margin: 10px; /* Example margin between icons */
  }

  .group-icon{
    margin-left: 40px;
  }
  
  
.font{
    display: flex;
    
}

.group{
    display: flex;
    
}

.main{
    margin: auto 352px;
    width: 736px;
}
  