.unavailable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin: 0 auto;
    max-width: 375px; 
  }
  
  .unavailable-emoji {
    font-size: 2.5rem; 
    margin-bottom: 0.75rem; 
  }
  
  .unavailable-heading {
    font-size: 1.25rem; 
    font-weight: bold;
    margin-bottom: 0.75rem; 
    text-align: center;
  }
  
  .unavailable-text {
    color: grey; 
  }
  