/* Default styles for all screen sizes */



.App {

  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--FFFFFF, #ffffff);
  flex-shrink: 0;
  padding: 0px 350px 600px 350px;
  padding-bottom: 600px;

  
}

.App.dark{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px 350px 600px 350px;
  background: var(--050505, #050505);
  color: white;
  padding-bottom: 600px;
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
 
  .App {
    padding: 0px 150px 600px 150px;
  }
  
  .App.dark{
    padding: 0px 350px 600px 350px;
  }
}

@media screen and (min-width: 568px) and (max-width: 767px) {

  .App {
    font-size: 16px;
    padding: 0px 250px 600px 250px;
  }

  .App.dark{
    font-size: 16px;
    padding: 0px 250px 600px 250px;
  }
} 

/* Mobile Devices */
@media screen and (max-width: 567px) {

  .App {
    font-size: 14px;
    padding: 0px 50px 600px 50px;
  }

  .App.dark{
    font-size: 14px;
    padding: 0px 50px 600px 50px;
  }
} 