/* Default styles for all screen sizes */

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--FFFFFF, #f7f4f4);
  margin: auto;
  margin-top: 50px;
  border-radius: 16px;
  width: 736px;
  flex-shrink: 0;
  
}

.App.dark{
 
  background: var(--050505, #050505);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  border-radius: 16px;
  width: 736px;
  flex-shrink: 0;
  
}

/* Tablets */
@media screen and (max-width: 992px) {
  /* Styles for tablets */
  
  /* Example styles */
  .App {
    font-size: 16px;
    padding: 20px;
  }
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
  /* Styles for mobile devices */
  
  /* Example styles */
  .App {
    font-size: 14px;
    padding: 10px;
  }
}